
/ {
    aliases {
        button-pin  = &button_pin;
    };

    ftest_eth: ftest_eth {
        compatible = "ftest,eth-inproc";
        mac = [ 00 11 22 33 44 59  ];
        ip = "192.169.0.5";
        mask = "255.255.255.0";
    };

    pin_map: pin-map {
        compatible = "gpio-leds";
        button_pin: button-pin {
            gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
        };
    };
};

&gpio0 {
    status = "okay";
    label = "ftest_gpio_emul";
};