

config FTEST_ENTITY
    bool "FTEST_ENTITY"
    default n
    help
      Designates this entity as an FTEST entity. This means that it will be 
      built as a dynamic library, and will be compiled with special drivers 
      for that framework.


if FTEST_ENTITY


config FTEST_ETH_OUTPUT_PCAP
    bool "FTEST_ETH_OUTPUT_PCAP"
    default n
    depends on NETWORKING
    help
      Enable PCAP output for Ethernet driver in the FTEST framework.


endif # FTEST_ENTITY
