

config FTEST
    bool "FTEST"
    default y
    select ZTEST
    select FTEST_ENTITY
    help
      Enable the FTEST framework. This framework is used to test scenarios where
      several entities are involved, like network communication or complex
      interactions.


if FTEST


config FTEST_SHED_MAX_ENTITIES
    int "FTEST_SHED_MAX_ENTITIES"
    default 100
    help
      The maximum number of entities that can be handled by the FTEST sheduler.
      This value should be set based on the expected number of entities in your tests.
      Increasing this value allows for more entities to be managed simultaneously,
      but may require more memory.


config FTEST_ENTITY_LOADER_INIT_PRIORITY
    int "FTEST_ENTITY_LOADER_INIT_PRIORITY"
    default 100
    help
      The priority of the FTEST entity loader initialization.
      This value determines the order in which the entity loader is initialized
      relative to other components in the system. A lower number means higher priority.
      Adjust this value based on your system's requirements.


endif # FTEST
